<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-slate-300 grid h-screen place-content-center">
    <img class="absolute blur-md -z-10 w-full px-[500px] py-10 h-screen" src="/image/13.png" alt="">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  w-auto">
        <section class="bg-slate-950  text-white p-10">
            <div class="flex justify-end text-2xl ">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="flex items-center ml-2 mt-10">
                <img src="/image/apple logo.png" alt="" class="h-14 mr-4">
                <div>
                    <h1 class="text-2xl font-bold pt-2">Apple</h1>
                    <h6 class="text-sm text-gray-400">New location, USA</h6>
                </div>
            </div>
            <h1 class="mt-8 text-3xl font-semibold">UI/UX Designer</h1>
            <h1 class="mt-4">
                <span class="text-blue-500 mr-1">HTML</span>
                <span class="text-yellow-500 m-1">CSS</span>
                <span class="text-pink-500 m-1">FIGMA</span>
                <span class="text-lime-500 m-1">Ad.XD</span>
                <span class="text-blue-500 m-1">Illustrator</span>
            </h1>
            <h1 class="mt-6 text-gray-400 text-base">$60K - $100K per year</h1>
            <div class="flex justify-between mt-7">
                <h1 class="font-semibold">Full Time</h1>
                <h1 class="text-blue-700 text-lg font-semibold">Apply Now</h1>
            </div>
        </section>
    </div>
</body>

</html>