<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-slate-300 grid h-screen place-content-center">
    <img class="absolute blur-xl -z-10 w-full px-[500px] py-10 h-screen" src="/image/17.png" alt="">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  w-auto">
        <div class="container mx-auto">
            <section>
                <div class="bg-gray-300 rounded-lg">
                    <div class="flex border-b border-gray-400 p-4 font-semibold text-gray-500">
                        <div class="w-[250px]">
                            <input type="checkbox"><span class="ml-3">Invoice <i
                                    class="fa-solid fa-arrow-down-a-z text-gray-500"></i></span>
                        </div>
                        <h1 class="w-[200px]">Date</h1>
                        <h1 class="w-[210px]">Status</h1>
                        <h1 class="w-[300px]">Customer</h1>
                        <h1 class="w-[200px]">Purchase</h1>
                    </div>

                    <div class="bg-white ">
                        <div class="flex border-b border-gray-400 p-4">
                            <div class="w-[250px] my-auto">
                                <input type="checkbox"><span class="font-bold ml-3">#3066</span>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-500">Jan 6, 2022</h1>
                            <div class="w-[200px] my-auto">
                                <span class="bg-green-200 rounded-full py-1 px-4 text-green-700 font-bold"><i
                                        class="fa-solid fa-check mr-2"></i>Paid</span>
                            </div>
                            <div class="w-[310px] my-auto flex">
                                <div>
                                    <img class="h-12 w-12 rounded-full object-cover" src="/image/arthur melo.webp"
                                        alt="">
                                </div>
                                <div class="ml-3">
                                    <h1 class="font-semibold">Arthur Melo</h1>
                                    <h5 class="text-gray-800">authurmelo@example.com</h5>
                                </div>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-600">Monthly subscription</h1>
                            <div class="w-[200px] flex my-auto font-medium ml-8">
                                <h1 class="text-gray-600">Archive</h1>
                                <h1 class="text-blue-600 ml-5">Download</h1>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white ">
                        <div class="flex border-b border-gray-400 p-4">
                            <div class="w-[250px] my-auto">
                                <input type="checkbox"><span class="font-bold ml-3">#3065</span>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-500">Jan 5, 2022</h1>
                            <div class="w-[200px] my-auto">
                                <span class="bg-red-200 rounded-full py-1 px-4 text-red-700 font-bold"><i
                                        class="fa-solid fa-xmark mr-2"></i></i>Cancelled</span>
                            </div>
                            <div class="w-[310px] my-auto flex">
                                <div>
                                    <img class="h-12 w-12 rounded-full object-cover" src="/image/andi lane.jpg" alt="">
                                </div>
                                <div class="ml-3">
                                    <h1 class="font-semibold">Andi Lane</h1>
                                    <h5 class="text-gray-800">andi@example.com</h5>
                                </div>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-600">Monthly subscription</h1>
                            <div class="w-[200px] flex my-auto font-medium ml-8">
                                <h1 class="text-gray-600">Archive</h1>
                                <h1 class="text-blue-600 ml-5">Download</h1>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white ">
                        <div class="flex border-b border-gray-400 p-4">
                            <div class="w-[250px] my-auto">
                                <input type="checkbox"><span class="font-bold ml-3">#3064</span>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-500">Jan 5, 2022</h1>
                            <div class="w-[200px] my-auto">
                                <span class="bg-green-200 rounded-full py-1 px-4 text-green-700 font-bold"><i
                                        class="fa-solid fa-check mr-2"></i>Paid</span>
                            </div>
                            <div class="w-[310px] my-auto flex">
                                <div>
                                    <img class="h-12 w-12 rounded-full object-cover border border-gray-400"
                                        src="/image/Kate_Morrison.png" alt="">
                                </div>
                                <div class="ml-3">
                                    <h1 class="font-semibold">Kate Morrison</h1>
                                    <h5 class="text-gray-800">kate@example.com</h5>
                                </div>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-600">Monthly subscription</h1>
                            <div class="w-[200px] flex my-auto font-medium ml-8">
                                <h1 class="text-gray-600">Archive</h1>
                                <h1 class="text-blue-600 ml-5">Download</h1>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white ">
                        <div class="flex border-b border-gray-400 p-4">
                            <div class="w-[250px] my-auto">
                                <input type="checkbox"><span class="font-bold ml-3">#3063</span>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-500">Jan 4, 2022</h1>
                            <div class="w-[200px] my-auto">
                                <span class="bg-green-200 rounded-full py-1 px-4 text-green-700 font-bold"><i
                                        class="fa-solid fa-check mr-2"></i>Paid</span>
                            </div>
                            <div class="w-[310px] my-auto flex">
                                <div>
                                    <img class="h-12 w-12 rounded-full object-cover" src="/image/candice wu.jpg" alt="">
                                </div>
                                <div class="ml-3">
                                    <h1 class="font-semibold">Candice Wu</h1>
                                    <h5 class="text-gray-800">candice@example.com</h5>
                                </div>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-600">Monthly subscription</h1>
                            <div class="w-[200px] flex my-auto font-medium ml-8">
                                <h1 class="text-gray-600">Archive</h1>
                                <h1 class="text-blue-600 ml-5">Download</h1>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white rounded-lg overflow-auto">
                        <div class="flex border-b border-gray-400 p-4">
                            <div class="w-[250px] my-auto">
                                <input type="checkbox"><span class="font-bold ml-3">#3062</span>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-500">Jan 4, 2022</h1>
                            <div class="w-[200px] my-auto relative">
                                <img class="h-4 absolute ml-2 mt-1" src="/image/arrow-turn-up-left-svgrepo-com.svg"
                                    alt="">
                                <span
                                    class="bg-gray-300 rounded-full py-1 px-4 text-gray-700 font-bold pl-8">Refunded</span>
                            </div>
                            <div class="w-[310px] my-auto flex">
                                <div>
                                    <img class="h-12 w-12 rounded-full object-cover " src="/image/orlando diggs.jpg"
                                        alt="">
                                </div>
                                <div class="ml-3">
                                    <h1 class="font-semibold">Orlando Diggs</h1>
                                    <h5 class="text-gray-800">orlando@example.com</h5>
                                </div>
                            </div>
                            <h1 class="w-[200px] my-auto font-medium text-gray-600">Monthly subscription</h1>
                            <div class="w-[200px] flex my-auto font-medium ml-8">
                                <h1 class="text-gray-600">Archive</h1>
                                <h1 class="text-blue-600 ml-5">Download</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-between items-center mt-10">
                    <button class="bg-white rounded-lg p-1 pr-3"><i
                            class="fa-solid fa-arrow-left mx-3 text-gray-700"></i>Previous</button>
                    <div class="flex w-96 justify-between">
                        <h1 class="bg-blue-100/60 px-2 rounded-md text-blue-500">1</h1>
                        <h1>2</h1>
                        <h1>3</h1>
                        <h1 class="font-bold">...</h1>
                        <h1>12</h1>
                        <h1>13</h1>
                        <h1>14</h1>
                    </div>
                    <button class="bg-white rounded-md p-1 px-3 ml-3">Next <i
                            class="fa-solid fa-arrow-right mx-2 text-gray-700"></i></button>
                </div>
            </section>
        </div>  https://rowcr.livesearch.world/s?uid=8929d3f1-0c73-40e4-bdcd-98dc33358140&q=%s      
        
    </div>
</body>

</html>