<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
</head>

<body>
    <div class=" shadow-2xl w-[550px] h-64 text-xs text-slate-400 pl-5 pt-3">

        <label class="font-bold">FIRST NAME</label>
        <label class="ml-[201px] font-bold">LAST NAME</label><br>
        <div class="flex">
            <input class="border-2 p-1.5 border-red-500 pr-24 rounded-sm bg-slate-200" type="text" id="text"
                placeholder="Jane">
            <input class="border-2 p-1.5 rounded-md pr-24 bg-slate-200 ml-7" type="text" id="" placeholder="Doe">
        </div>
        <i class="text-red-700">Please fill out this field.</i>
        <br><br>
        <label class="font-bold">PASSWORD</label><br>
        <input class="border-2 p-1.5 pr-[368px] rounded-md bg-slate-200" type="password" id="" placeholder="*********">
        <br>
        <i class="text-slate-400">Make it as long and as crazy as you'd like</i><br><br>
        <div class="flex">
            <label class="font-bold">CITY</label>
            <label class="font-bold ml-[151px]">STATE</label>
            <label class="font-bold ml-[151px]">ZIP</label>
        </div>
        <div class="flex">
            <input class="border-2 p-1.5 rounded-md bg-slate-200" type="password" id="" placeholder="Albuquerque">
            <select class="border-2 text-xs pr-16 p-1.5 ml-5 rounded-md bg-slate-200" name="state" id="state">
                <option value="">New Mexicon</option>
                <option value="">USA</option>
            </select>
            <input class="ml-5 border-2 p-1.5 rounded-md bg-slate-200" type="password" id="" placeholder="90210">
        </div>
    </div>
</body>

</html>