<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="output.css">
</head>
<body>
     <div class="max-h-96 bg-[#e9eaf1] p-10 rounded-xl">

        <div class="grid grid-cols-1 md:lg:xl:grid-cols-3 group bg-white shadow-xl shadow-neutral-100 border ">
             <div class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b  cursor-pointer">
              <span class="p-5  text-white ">
                <img src="../asset/customer.jpg" alt="">
              </span>
                <p class="text-xl font-medium text-slate-700 mt-3"> Most Experienced Team</p>
                <P class="mt-2 text-sm text-slate-500"> Team BrainEdge education is a bunch of highly focused, energetic
                  set of people.</P>
               </div>


        <div class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b cursor-pointer">
          <span class="p-5  text-white ">
            <img src="../asset/notes.jpg" alt="">
                    </span> 
          <p class="text-xl font-medium text-slate-700 mt-3"> Best
            Test preparation</p>
          <p class="mt-2 text-sm text-slate-500">Know where you stand and what next to do to succeed .</p>
        </div>


        <div class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b cursor-pointer">
            <span class="p-5  text-white">
              <img src="../asset/comment.jpg" alt="">
            </span>
          <p class="text-xl font-medium text-slate-700 mt-3"> Admission process Guidance</p>
          <p class="mt-2 text-sm text-slate-500">Professional Advice for higher education abroad and select the
            top institutions worldwide.</p>
        </div>


        <div class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b cursor-pointer">
          <span class="p-5  text-white ">
            <img src="../asset/rating.jpg" alt="">
  
          </span>
          <p class="text-xl font-medium text-slate-700 mt-3"> Best
            Track Record</p>
          <p class="mt-2 text-sm text-slate-500">Yet another year ! Yet another jewel in our crown!.</p>
        </div>


        <div class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b cursor-pointer">
          <span class="p-5  text-white ">
            <img src="../asset/exam.png" alt="">
          </span>
          <p class="text-xl font-medium text-slate-700 mt-3"> Free
            Mock Exams</p>
          <p class="mt-2 text-sm text-slate-500">Get Topic-Wise Tests, Section- Wise and mock tests for your
            preparation.</p>
        </div>


        <div class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b cursor-pointer">
          <span class="p-5  text-white ">
            <img src="../asset/shield.jpg" alt="">
          </span>
          <p class="text-xl font-medium text-slate-700 mt-3"> Genuine
            Visa Advice</p>
          <p class="mt-2 text-sm text-slate-500">Visa process by helping you create the necessary documentation
          </p>
        </div>

</div>

         <div class="w-full   bg-indigo-600 shadow-xl shadow-indigo-200 py-10 px-20 flex justify-between items-center">
          <p class=" text-white">
            <span class=" text-4xl font-medium">
                Still Confused ? </span>
                <br>
            <span class="text-lg"> book for free career consultion !</span>
          </p>
          <button class="px-5 py-3  font-medium text-slate-700 shadow-xl ration-150  bg-yellow-400 active:bg-lime-600 active:text-white">BOOK AN APPOINTMENT</button>
        </div>
    </div> 

</body>
</html>